* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #81a69b;
  background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search-params {
  margin: 0 auto;
  width: 1100px;
}

.search-params form {
  background-color: pink;
  padding: 20px 10px 10px 10px;
  width: 360px;
  border-radius: 5px;
}

.search-params form label {
  display: block;
}

.search-params input,
.search-params select {
  display: block;
  margin: 5px 0 20px 0;
  padding: 3px 5px;
  font-size: 18px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 325px;
}

.search-params button {
  color: #fff;
  padding: 4px 20px;
  font-size: 1.1rem;
  background-color: #ad343e;
  border: none;
  border-radius: 6px;
  border: #333 1px solid;
  display: block;
  margin: 0 auto;
}

.search-params button:hover {
  background-color: #5f1d22;
}
